* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {
  --color-nav: #666666;
  --color-footer: #000000;
  --color-header: #fffcf2;
  --color-article: #666666;
  --color-aside: #51cca3;
  --color-text: #2a0066;
}

body {
  width: 100vw;
  max-width: 100%;
  height: 200vh;
  color: var(--color-text);
  font-size: 12rem;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  padding: 2rem;
}

.aside {
  background-color: black;
  width: 20%;
  height: 120%;
}

.container {
  width: 80%;
  height: 100%;
}

.top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: var(--color-nav);
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 1.5rem 0 0 0;
}

li {
  display: inline;
  font-size: 2.8rem;
  padding: 0 3rem 0 3rem;
}

header {
  background-color: var(--color-header);
  width: 100%;
  height: 100%;
}
header p {
  text-align: justify;
  padding: 30rem 50rem 0 5rem;
}

main {
  width: 100%;
  height: 50%;
  display: flex;
}

aside {
  background-color: var(--color-aside);
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
aside p {
  font-size: 1.8vw;
  padding: 0 4rem;
}

article {
  background-color: var(--color-article);
  width: 80%;
  height: 100%;
}
article p {
  text-align: justify;
  padding: 15rem 35rem 0 5rem;
}

footer {
  background-color: var(--color-footer);
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul {
  list-style-type: none;
  padding: 1.5rem 0 0 0;
}
footer li {
  display: block;
  font-size: 2rem;
  padding: 2rem 3rem 0 3rem;
}
